*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body{
	font-size: 17px;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    background-color: #f5f5f7;
    color: #1d1d1f;
    font-style: normal;
}

/* Header */
#header{
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    width: 100%;
    height: 120px;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

#header .header-content{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

#header .header-content .image-container{
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 120px;
    line-height: 100px;
}

#header .header-content .image-container a.button{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#header .header-content .image-container .logo{
    background-size: 200px 100px;
    background-repeat: no-repeat;
    background-image: url('Image/Logo/Logo.png');
    background-position: center center;
    width: 200px;
    margin: 0 auto;
    pointer-events: auto;
}

#header .header-content .image-container .logo span{
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

/* Main Content */
.main{
    position: relative;
    display: block;
}

section{
    display: block;
}

.main .section{
    padding-top: 120px;
    background-color: #f5f5f7;
    width: 100%;
    height: auto;
}

.main .section .section-content{
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}

/* 重要通知 */
.main .section .section-content .outer-container{
    width: calc(100% - 2px);
    height: auto;
    margin: 20px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    pointer-events: auto;
    padding: 10px 0;
    border: 1px solid #28ff28;
    border-radius: 30px;
}

.main .section .section-content .outer-container .container{
    display: block;
    margin: 0 10px;
}

.main .section .section-content .outer-container .container .title{
    font-size: 20px;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

.main .section .section-content .outer-container .container .content{
    text-align: center;
    padding-bottom: 30px;
}


/* 选择 */
.main .section .section-content .select-container{
    width: 100%;
    margin: 20px 0;
    background-color: #28ff28;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    border-radius: 30px;
}

.main .section .section-content .select-container::-webkit-scrollbar{
    display: none;
}

.main .section .section-content .select-container .button-container{
    display: inline-flex;
    box-sizing: border-box;
    position: relative;
    height: 36px;
}

.main .section .section-content .select-container .button-container button{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding: 0 18px;
    text-align: center;
    color: #fff;
    min-width: 98px;
    white-space: nowrap;
    background: none;
    border: 0;
    cursor: pointer;
    font: inherit;
    overflow: visible;
    vertical-align: inherit;
    pointer-events: auto;
    border-radius: 30px;
}

.main .section .section-content .select-container .button-container button#DOpen.active {
    color: #000;
    background: #fff;
    margin: 2px;
}

.main .section .section-content .select-container .button-container button#two.active {
    color: #000;
    background: #fff;
    margin: 2px;
}

.main .section .section-content .select-container .button-container button#three.active {
    color: #000;
    background: #fff;
    margin: 2px;
}

.main .section .section-content .select-container .button-container button#four.active {
    color: #000;
    background: #fff;
    margin: 2px;
}

.main .section .section-content .select-container .button-container button#five.active {
    color: #000;
    background: #fff;
    margin: 2px;
}

/* 入门篇 */
.main .section .section-content .links-content {
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    margin: 20px 0;
    position: relative;
}

.main .section .section-content .links-content .small-container{
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 15px 0;
    position: relative;
    background-color: #fff;
    list-style-type: none;
    border-radius: 30px;
}

.main .section .section-content .links-content .small-container .container{
    margin: 0 20px;
    text-align: justify;
    text-justify: inter-word;
}

.main .section .section-content .links-content .small-container .container .title{
    font-size: 18px;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    line-height: 28px;
    font-weight: bold;
}

.main .section .section-content .links-content .small-container .container .content .notice{
    font-size: 16px;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    line-height: 26px;
    font-weight: 500;
}

/* 基础篇 */
.main .section .section-content .links-content .information{
    width: calc(100% - 2px);
    height: auto;
    margin: 20px 0;
    padding: 15px 0;
    position: relative;
    background-color: #fff;
    border: 1px solid #28ff28;
}

.main .section .section-content .links-content .information .container{
    margin: 0 15px;
    text-align: center;
}

.main .section .section-content .links-content .small-container .container .main-title:after{
    content: '+';
    float: right;
    font-size: 20px;
    font-weight: normal;
    margin-top: -2px;
    margin-right: 8px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.rotateicon .main-title:after{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    animation: transform .3s ease;
}

.main .section .section-content .links-content .small-container .container #content-0{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    z-index: -1;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    height: 100px;
}

.main .section .section-content .links-content .small-container .container #content-0.show-0 {
    position: static;
    visibility: visible;
    z-index: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    margin: 0;
    overflow: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
}

.main .section .section-content .links-content .small-container .container #content-1{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    z-index: -1;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    height: 100px;
}

.main .section .section-content .links-content .small-container .container #content-1.show-1 {
    position: static;
    visibility: visible;
    z-index: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    margin: 0;
    overflow: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
}

.main .section .section-content .links-content .small-container .container #content-2{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    z-index: -1;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    height: 100px;
}

.main .section .section-content .links-content .small-container .container #content-2.show-2 {
    position: static;
    visibility: visible;
    z-index: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    margin: 0;
    overflow: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
}

.main .section .section-content .links-content .small-container .container #content-3{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    z-index: -1;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    height: 100px;
}

.main .section .section-content .links-content .small-container .container #content-3.show-3 {
    position: static;
    visibility: visible;
    z-index: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    margin: 0;
    overflow: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
}

.main .section .section-content .links-content .small-container .container #content-4{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    z-index: -1;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    height: 100px;
}

.main .section .section-content .links-content .small-container .container #content-4.show-4 {
    position: static;
    visibility: visible;
    z-index: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    margin: 0;
    overflow: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
}

.main .section .section-content .links-content .small-container .container .content ul{
    margin-left: 20px;
}

.main .section .section-content .links-content .small-container .container .content ul .sub-title{
    font-weight: bold;
}

.main .section .section-content .links-content .small-container .container .content ul .sub-content{
    list-style-type: none;
}

/* 副本掉落 */
.main .section .section-content .links-content .search-container{
    width: 100%;
    height: auto;
    position: relative;
    margin: 20px 0;
}

.main .section .section-content .links-content .search-container #myInput{
    width: calc(100% - 40px);
    font-size: 18px;
    padding: 12px 20px;
    background-color: #fff;
    border: none;
    text-align: center;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    line-height: 28px;
    font-weight: bold;
    color: grey;
    border-radius: 30px;
}

.main .section .section-content .links-content .small-container .container .title .n-s{
    background-color: red;
    border-radius: 12px;
    border: none;
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 0 6px;
}


/* 技术赛 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    overflow: auto;
    margin: 0;
    padding: 20px 0 5px 0;
}

.grid-container .text{
    text-align: center;
    padding: 15px 0;
    border-radius: 20px;
    border: solid 1px #ff4dde;
    grid-column: span 1;
    display: none;
}

.grid-container .text span{
    text-decoration-line: line-through;
}

.grid-container .text a{
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    background: #ff4dde;
    color: #fff;
    font-size: 12px;
    min-width: 23px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 12px;
    text-decoration: none;
}

.grid-container .text .red{
    text-align: center;
    white-space: nowrap;
    background: red;
    color: #fff;
    font-size: 12px;
    min-width: 23px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 12px;
    text-decoration: none;
}

@media screen and (max-width: 1024px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        overflow: auto;
        margin: 0;
    }
}

@media screen and (max-width: 767px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;
        overflow: auto;
        margin: 0;
        padding: 15px 0 5px 0;
    }
}