*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body{
	font-size: 17px;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    background-color: #f5f5f7;
    color: #1d1d1f;
    font-style: normal;
}

/* Header */
#header{
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    width: 100%;
    height: 120px;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

#header .header-content{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

#header .header-content .image-container{
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 120px;
    line-height: 100px;
}

#header .header-content .image-container a.button{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#header .header-content .image-container .logo{
    background-size: 200px 100px;
    background-repeat: no-repeat;
    background-image: url('../Image/Logo/Logo.png');
    background-position: center center;
    width: 200px;
    margin: 0 auto;
    pointer-events: auto;
}

#header .header-content .image-container .logo span{
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

/* Main Content */
.main{
    position: relative;
    display: block;
}

section{
    display: block;
}

.main .section{
    padding-top: 120px;
    background-color: #f5f5f7;
    width: 100%;
    height: auto;
}

.main .section .section-content{
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}

/* 警告 */
.main .section .section-content .outer-container{
    width: calc(100% - 2px);
    height: auto;
    margin: 20px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    padding: 10px 0;
    border: 1px solid #28ff28;
    border-radius: 30px;
}

.main .section .section-content .outer-container .container{
    display: block;
    margin: 0 10px;
}

.main .section .section-content .outer-container .container .title{
    font-size: 20px;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

.main .section .section-content .outer-container .container .content{
    text-align: center;
    padding-bottom: 30px;
}

/* 选择 */
.main .section .section-content .select-container{
    width: 100%;
    height: auto;
    margin: 20px 0;
    background-color: #28ff28;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    border-radius: 30px;
}

.main .section .section-content .select-container::-webkit-scrollbar{
    display: none;
}

.main .section .section-content .select-container .button-container{
    display: inline-flex;
    box-sizing: border-box;
    position: relative;
    height: 36px;
}

.main .section .section-content .select-container .button-container button{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding: 0 18px;
    text-align: center;
    color: #fff;
    min-width: 98px;
    white-space: nowrap;
    background: none;
    border: 0;
    cursor: pointer;
    font: inherit;
    overflow: visible;
    vertical-align: inherit;
    pointer-events: auto;
    border-radius: 30px;
}

.main .section .section-content .select-container .button-container button#DOpen.active {
    color: #000;
    background: #fff;
    margin: 2px;
}

.main .section .section-content .select-container .button-container button#two.active {
    color: #000;
    background: #fff;
    margin: 2px;
}

.main .section .section-content .select-container .button-container button#three.active {
    color: #000;
    background: #fff;
    margin: 2px;
}

/* 入门篇 */
.main .section .section-content .links-content {
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    margin: 20px 0;
    position: relative;
}

.main .section .section-content .links-content .small-container{
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 15px 0;
    position: relative;
    background-color: #fff;
    list-style-type: none;
    border-radius: 30px;
}

.main .section .section-content .links-content .small-container .container{
    margin: 0 20px;
    text-align: justify;
    text-justify: inter-word;
}

.main .section .section-content .links-content .small-container .container .title{
    font-size: 18px;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    line-height: 28px;
    font-weight: bold;
}

.main .section .section-content .links-content .small-container .container .content .notice{
    font-size: 16px;
    font-family: "FangSong","KaiTi","Helvetica","Arial",sans-serif;
    line-height: 26px;
    font-weight: 500;
}

.main .section .section-content .links-content .information{
    width: calc(100% - 2px);
    height: auto;
    margin: 20px 0;
    padding: 15px 0;
    position: relative;
    background-color: #fff;
    border: 1px solid #28ff28;
}

.main .section .section-content .links-content .information .container{
    margin: 0 15px;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.main .section .section-content .links-content .small-container .container .content img{
    margin: 15px 0;
    width: 100%;
    height: auto;
    display: block;
}